.tool{
    width: 319px;
    height: 492px;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.chessboard{
    width: 321px;
    height: 491px;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);


    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}
.battle{
    width: 321px;
    height: 491px;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.liitleTool, .liitleChessboard, .liitleBattle{
    width: 100px;
    height: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:10;


    border: 4px solid black;
    border-radius: 50%;
    position: absolute;
    margin-top: -50px;
    margin-left: 108px;

}

h4{
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
}
p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}